<header>
    <mat-toolbar>
        <mat-toolbar-row>
            <a [routerLink]="['']">
                <h1>CATÁLOGO DE DELIVERY</h1>
              </a>
            <!-- <span class="spacer"></span>
            <form class="form-inline">
                <button mat-icon-button aria-label="Clique para Pesquisar" (click)="toggleSearch()" *ngIf="!showSearchInput">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Pesquisar">search</mat-icon>
                </button>
                <input #inputDaBusca (input)="0" class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search" [hidden]="!showSearchInput">
              </form> -->
        </mat-toolbar-row>
    </mat-toolbar>
</header>