<app-cabecalho>
  <button mat-icon-button (click)="drawer.toggle()" *ngIf="user.isAutenticate()"><i class="material-icons md-dark">person</i></button>
</app-cabecalho>
<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer>
      <mat-tab-group>
          <mat-tab *ngIf="user.isCliente()" label="Cliente: {{user.name}}">
              <mat-nav-list>
                  <a mat-list-item [routerLink]="['/cliente']"> Meus Dados </a>
                  <a mat-list-item [routerLink]="['/agendamento']" *ngIf="user.isCliente()"> Agendamento </a>

              </mat-nav-list>
          </mat-tab>
          <mat-tab *ngIf="user.isNutri()" label="Admin: {{user.name}}">
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['/agenda']" *ngIf="user.isNutri()" > Consultar Agenda </a>
                    <a mat-list-item [routerLink]="['/abrir-agenda']" *ngIf="user.isNutri()"> Abrir Agenda </a>
                    <a mat-list-item [routerLink]="['/cliente']"> {{user.isNutri()? 'Clientes' : 'Meus Dados'}} </a>
                    <a mat-list-item [routerLink]="['/servicos']" *ngIf="user.isNutri()"> Serviços </a>
                </mat-nav-list>
          </mat-tab>
      </mat-tab-group>
  </mat-drawer>
  <mat-drawer-content class="content">

     <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>