.login {
  text-align: center;
}
.tela {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.paragrafo {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.75);
}
.link2 {
  margin-left: 10px;
}