<app-cabecalho></app-cabecalho>
<router-outlet></router-outlet>
<app-rodape></app-rodape>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCDr3U_Rh5PPd7O0UIPfhZ34B8MW92FVZ4",
    authDomain: "autenticacao-11d38.firebaseapp.com",
    databaseURL: "https://autenticacao-11d38.firebaseio.com",
    projectId: "autenticacao-11d38",
    storageBucket: "autenticacao-11d38.appspot.com",
    messagingSenderId: "78627285105",
    appId: "1:78627285105:web:027915cb49b273c60453d0"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>