table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .example-row-detail {
    overflow: hidden;
    display: flex;
  }
  tr.example-detail-row {
    height: 0;
  }